---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Itzik Kotler איציק קוטלר" description={SITE_DESCRIPTION} />
    <meta name="keywords" content="Itzik Kotler, Itzhak Kotler, Yitzhak Kotler" />
  </head>
  <body>
    <Header />
    <main>
      <div class="home">
        <div class="bio">
          <h1>Itzik Kotler</h1>
          <p>
            I'm the Co-Founder and Chief Technology Officer of <a
              href="https://www.safebreach.com"
              target="_blank"
              rel="noopener">SafeBreach</a
            >. I live in the San Francisco Bay Area with my wife and two kids. I have a passion for
            offensive security and solving hard problems. In my free time, I enjoy playing my
            electric bass guitar and making music.
          </p>
          <p>
            I love to help and contribute to the security community. Over the years I have served as
            a Board Member of <a
              href="https://owasp.org/www-chapter-israel/"
              target="_blank"
              rel="noopener">OWASP Israel</a
            >, contributed to the <a
              href="https://attack.mitre.org/resources/engage-with-attack/contribute/"
              target="_blank"
              rel="noopener">MITRE ATT&amp;CK Framework</a
            >, and served as a Program Committee member at security conferences such as <a
              href="https://conference.hitb.org/"
              target="_blank"
              rel="noopener">Hack In The Box</a
            > and
            <a href="http://2015.hackitoergosum.org/" target="_blank" rel="noopener"
              >Hackito Ergo Sum</a
            >, to name a few. I also co-organized the <a
              href="https://forum.defcon.org/forum/general-area/local-meetings-other-events/13278-dc9723-1st-hackathon-event"
              target="_blank"
              rel="noopener">1st Security Hackathon in Israel</a
            >
            and <a href="http://www.dc9723.org" target="_blank" rel="noopener">DC9723</a>, Israel's
            DEF CON Group.
          </p>
        </div>
        <div class="avatar">
          <img
            src="https://www.gravatar.com/avatar/cb802aad939a65072973485494afe42a?s=220"
            alt="Itzik Kotler"
            width="220"
            height="220"
          />
        </div>
      </div>
    </main>
    <Footer />
  </body></html
>

<style>
  .home {
    display: flex;
    align-items: flex-start;
    gap: 3em;
  }

  .bio {
    flex: 1;
  }

  .bio h1 {
    margin-bottom: 0.4em;
  }

  .avatar img {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    display: block;
  }

  @media (max-width: 720px) {
    .home {
      flex-direction: column-reverse;
      gap: 1.5em;
    }

    .avatar img {
      width: 140px;
      height: 140px;
    }
  }
</style>
