<div>
  <img src="https://avatars.githubusercontent.com/ikotler" alt="Itzik Kotler" />
  <p>
    Hi, I'm <strong>Itzik Kotler</strong>, Co-Founder &amp; CTO of SafeBreach, hacker, and open
    source enthusiast. Follow me on <a
      href="https://x.com/itzikkotler"
      target="_blank"
      rel="noopener">Twitter</a
    > or see my work on <a href="https://github.com/ikotler" target="_blank" rel="noopener"
      >GitHub</a
    >.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
