---
const today = new Date();
---

<footer>
  ☺ {today.getFullYear()} Itzik Kotler
  <span class="sep">|</span>
  <a href="https://twitter.com/itzikkotler" target="_blank" rel="noopener">Twitter</a>
  <span class="sep">|</span>
  <a href="https://www.linkedin.com/in/itzikk/" target="_blank" rel="noopener">LinkedIn</a>
</footer>

<style>
  footer {
    padding: 2em 1em;
    background: #181825;
    color: rgb(var(--gray));
    text-align: center;
    font-size: 0.9em;
  }

  .sep {
    margin: 0 0.5em;
    opacity: 0.4;
  }
</style>
